<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./lib/angular-material/angular-material.min.css">
    <link href="./lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/myCss.css">
</head>
<script src="./lib/angular/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-aria.min.js"></script>
<script src="./lib/angular-material/angular-material.min.js"></script>
<script>
    var app = angular.module('client', ['ngMaterial'])
        .config(function ($httpProvider) {

        });

</script>
<script src="./service.js"></script>
<script src="./controller.js"></script>

<body ng-app="client">
    <div ng-controller="orderController as ctrl">
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button">
                    <md-icon md-font-icon="fa-line-chart" class="fa"></md-icon>
                </md-button>
                <h2 class="md-flex">Order List</h2>
            </div>
        </md-toolbar>
        <md-content flex layout-padding>
            <md-button class="md-warn" ng-click="addEditOrder({},$event)">
                + New Order
            </md-button>
            <table>
                <tr>
                    <th>Company Name</th>
                    <th>Order Cost</th>
                    <th>Ordered Item</th>
                    <th>Customer Address</th>
                    <th>Order Date</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr ng-repeat="order in orderList">
                    <td>{{order.companyName}}</td>
                    <td>{{order.orderCost}}</td>
                    <td>{{order.orderedItem}}</td>
                    <td>{{order.customerAddress}}</td>
                    <td>{{order.orderDate}}</td>
                    <td>
                        <md-button class="md-icon-button" ng-click="addEditOrder(order,$event)">
                            <md-icon md-font-icon="fa-edit" class="fa fa-sm"></md-icon>
                        </md-button>
                    </td>
                    <td>
                        <md-button class="md-icon-button" ng-click="deleteOrder(order.orderId)">
                            <md-icon md-font-icon="fa-trash" class="fa fa-sm"></md-icon>
                        </md-button>
                    </td>
                </tr>
            </table>
        </md-content>
    </div>
    <script type="text/ng-template" id="createOrder.html">
        <md-dialog>
            <md-content flex layout-padding>
                <h2 class="md-flex">Add/Edit Order</h2>
                <md-input-container class="md-block">
                    <label>Company Name</label>
                    <input name="companyName" ng-model="model.companyName">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Order Cost</label>
                    <input name="orderCost" type="number" ng-model="model.orderCost">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Ordered Item</label>
                    <input name="orderedItem" type="number" ng-model="model.orderedItem">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Customer Address</label>
                    <input name="customerAddress" ng-model="model.customerAddress">
                </md-input-container>
                <!--<md-input-container class="md-block">
                    <label>Order Date (dd/MM/yyyy)</label>
                    <input name="orderDate" ng-model="model.orderDate">
                </md-input-container>-->
                <md-button class="md-warn" ng-click="cancel()">
                    <md-icon md-font-icon="fa-close" class="fa fa-sm"></md-icon>Cancel
                </md-button>
                <md-button class="md-warn" ng-click="createOrder()">
                    <md-icon md-font-icon="fa-save" class="fa fa-sm"></md-icon>Save
                </md-button>
            </md-content>
        </md-dialog>
    </script>
</body>

</html>